<div class="container">
  <h1>Deloitte Developer Test</h1>
  <p>Totals are updated on blur </p>
  <form>
    <div *ngFor="let item of this.groupItems" >
      <div class="row">
        <div class="col-sm">
          <label>{{ item.itemName }}</label>
        </div>
        <div class="col-sm" >
          <div class="{{item.group}}" >{{ item.itemAmount }}</div>
        </div>
      </div>
    </div>
  <hr>
    <div *ngFor="let gItem of this.totalArr">
        <div class="row">
            <div class="col-sm">
                <label>{{ gItem.listName }}</label>
            </div>
            <div class="col-sm" >
                <input type="number" id="{{ gItem.listName }}" value="{{ gItem.totals }}"  (blur)="onBlurMethod(gItem.listName, $event)" ng-model-options="{ debounce: { default: 500, blur: 0 } }" maxlength="3" validate/>
            </div>
        </div>
    </div>
  </form>
</div>
